<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img slot="start" src="assets/icon/favicon.png" class="logo-image" routerLink="/dashboard"></ion-img>
    <ion-title>{{title}}</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/cart">
        <ion-icon name="cart-outline" size="large"></ion-icon>
        <span class="cart-badge">{{ cartCount }}</span>
      </ion-button>
      <ion-button (click)="openAccountMenu($event)">
        <ion-icon name="person-circle-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>