<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>product-details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-content class="product-view-content">
  <div class="product-view-wrapper">

    <div class="product-view-card">

      <!-- LEFT: Images -->
      <div class="image-section">
        <img [src]="product?.images[0]" alt="product" class="main-image" />
      </div>

      <!-- RIGHT: Details -->
      <div class="details-section">

        <h1 class="title">{{ product?.name }}</h1>
        <p class="price">₹{{ product?.price }}</p>

        <p class="description">
          {{ product?.description }}
        </p>

        <div class="meta">
          <div>
            <span>Category</span>
            <p>{{ product?.category }}</p>
          </div>
          <div>
            <span>availability</span>
            <p>{{product?.availabilityStatus}}</p>
          </div>
        </div>

        <div class="actions">
          <ion-button class="primary-btn">
            Add to Cart
          </ion-button>
          <ion-button fill="outline" class="secondary-btn">
            Buy Now
          </ion-button>
        </div>

      </div>

    </div>

  </div>
</ion-content>

</ion-content>
