<app-header title="My Cart"></app-header>

<ion-content class="ion-padding">

  <!-- Empty Cart Message -->
  <div *ngIf="cartItems.length === 0" class="empty-cart">
    Your cart is empty.
  </div>

  <!-- Cart List -->
  <ion-list *ngIf="cartItems.length > 0">
    <ion-item *ngFor="let item of cartItems">
      <ion-item *ngFor="let it of item.products">
      <ion-label>
        <h2>{{ it.name }}</h2>
        <p>Quantity: {{ it.quantity }}</p>
        <p>Price: ${{ it.price }} x {{ it.quantity }} = ${{ it.price * it.quantity }}</p>
      </ion-label>
      <ion-button color="danger" slot="end" (click)="removeItem(item.id)">
        Remove
      </ion-button>
      </ion-item>
    </ion-item>
  </ion-list>

  <!-- Total Price -->
  <ion-item *ngIf="cartItems.length > 0">
    <ion-label>
      <h2>Total:</h2>
    </ion-label>
    <ion-note slot="end"><strong>${{ totalPrice }}</strong></ion-note>
  </ion-item>

  <!-- Clear Cart Button -->
  <ion-button expand="full" color="secondary" (click)="clearCart()" *ngIf="cartItems.length > 0">
    Clear Cart
  </ion-button>

</ion-content>
