<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="openAccountMenu($event)">
        <ion-icon name="person-circle-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<app-header title="Products"></app-header>

<ion-content [fullscreen]="true">
<ion-content class="product-content">
  <div class="product-wrapper">

    <!-- Header -->
    <div class="product-header">
      <h2 class="title">Discover Products</h2>
      <p class="subtitle">Curated essentials for everyday use</p>
    </div>

    <!-- Product Grid -->
    <div class="product-list">
      <div class="product-card" *ngFor="let product of products">
        <div routerLink="/product-details/{{ product.id }}">
          <div class="product-card-inner">  
            <div class="image-wrapper">
              <img [src]="product.images[0]" alt="product" />
            </div>

            <div class="product-info">
              <h3 class="name">{{ product.title }}</h3>
              <p class="price">₹{{ product.price }}</p>
            </div>
          </div>
          <ion-button size="block" class="add-btn">
            Add to cart
          </ion-button>
        </div>
      </div>
    </div>

  </div>
</ion-content>

</ion-content>
